@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
body {
    margin: 0;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,segoe ui,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    font-size: 20px;
    font-weight: 700;
    font-display: swap;
    line-height: 1.5;
    color: #1d1d1f;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
nav.navbar.navbar-expand-lg {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,.1);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    background: #000000C2;
}
 .navbar-brand img {
    width: 100px;
 }

 .navbar-expand-lg .navbar-nav {
    align-items: center;
}
 nav.navbar.navbar-expand-lg .navbar-nav .nav-link{
   color: #ccc;
   padding-left: 0;
    padding-right: 0;
 }
 nav.navbar.navbar-expand-lg .navbar-nav li:not(:last-child) {
    margin-right: 15px;
 }
 nav.navbar.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: #fff
  }
 


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    line-height: 1.4;
    color: #1d1d1f;
}
.intro{
    padding: 150px 0;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .gradient-45, .gradient-45-stop {
    background-color: #000;
    background-image: linear-gradient(45deg,#2e4e9a,#1ca180);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

 .gradient-180 {
    background-color: #000;
    background-image: linear-gradient(180deg,#2e4e9a,#1ca180);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.work-days {
    background-color: #f4f4f6;
    padding: 75px 0;
}
.better-section {
    background-color: #f4f4f6;
    padding: 75px 0;
}
.better-section .box-content {
    background-color: #fff;
    padding: 50px;
    min-height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
    border-radius: 30px;
}
.better-section .box-content h3 {
    color: #fff;
}
.better-section .box-content .content {
    width: 100%;
}

.top-content_btmimg {
    background-color: #f4f4f6;
    padding-bottom: 70px;
}
.content-contentlist_right {
  background-color: #f4f4f6;
    padding-bottom: 70px;
}
.lg {
  background-color: #f4f4f6;
  padding: 75px 0;
}
img {
    max-width: 100%;
    height: auto;
}

.fade-upTxt {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 0.5s ease;
}
.large-text ul {
    margin-left: 0;
    padding-left: 0;
}
.large-text ul li {
    list-style: none;
}

.large-text .fade-upTxt {
    font-size: 88px;
    line-height: 105px;
    margin-bottom: 100px;
}
.large-text ul li:last-child  {
  margin-bottom: 0;
}

.help-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}
.help-block  h3 {
    color: #fff;
}


.gradient-pu {
    background-color: #000;
    background-image: linear-gradient(45deg,#6941d9,#930098,#f300ea);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}
.sidepad {
    /* max-width: 650px; */
}

.claim-block {
    background-color: #f4f4f6;
    padding: 100px 0;
}
.claim-block  .item img {
    width: 80px;
}
.image-top_btm-content {
    background-color: #f4f4f6;
}
.request_form-block {
    background-color: #f4f4f6;
    padding: 100px 0;
}

.form-wrap {
    background: #fff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 3px 3px 9px -5px rgba(0,0,0,.45);
}
.form-wrap  button[type="button"],
.form-wrap  button[type="submit"] {
    background-image: linear-gradient(45deg,#1ca180,#2e4e9a);
    min-width: 150px;
    text-align: center;
    border-radius: 25px;
}

.site-footer {
    background-color: #000;
    color: #fff;
}


.site-footer h1,
.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5,
.site-footer h6,
.site-footer a {
    color: #fff;
}
.footer-logo {
    max-width: 150px;
}
.footer-menu ul  {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.footer-menu ul li {
    list-style: none;
}
.footer-main {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-secondary {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding: 20px 0;
}

a {
    box-shadow: none;
    text-decoration: none;
}
.footercont a {
  color: #fff;
  text-decoration: none;
  padding: 0;
}
.footercont a:hover, a:active {
  color: #1fa183;
  text-decoration: none;
  padding: 0;
}


h1, h2, h3, h4, h5, h6 {
    margin-top: .5rem;
    margin-bottom: 1rem;
    font-family: Roboto,sans-serif;
    font-weight: 800;
    font-display: swap;
    line-height: 1.4;
    color: #1d1d1f;
  }
  h1 {
    font-size: 60px;
  }

  .click-through {
    font-size: 16px;
  }
  .ct-black a {
    color: #000;
}

.ct-under {
    text-decoration: underline;
    text-decoration-color: #38a48a;
}
.ct-arrow {
    color: #38a48a;
}

.pheaders {
    font-weight: 800;
    line-height: 1.2;
  }
  .p4vh {
    font-size: 45px;
  }

  .pheaders {
    font-weight: 800;
    line-height: 1.2;
  }
  .aiadw {
    font-size: 115px;
  }
  .rig {
    text-align: right;
  }
  h2 {
    font-size: 40px;
    line-height: 1.2;
  }
  .boldwhite {
    color: #fff;
  }

  .ct-light {
    font-weight: 400;
  }
  .click-through {
    font-size: 16px;
  }
  p {
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  .ct-white a {
    color: #fff;
  }

  .claimcta, .claimcta a, [type="button"] {
    background-color: #2e4e9a;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
  }

  .claimcta:hover, .claimcta:focus
  /* [type="button"]:hover, [type="button"]:focus  */
  {
    background-color: #1fa183;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    outline-style: none;
  }
  .hmg1 {
    background-color: #000;
    background-image: linear-gradient(45deg,#0f598f,#157189);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  .hmg2 {
    background-color:#000;
    background-image:linear-gradient(45deg,#157189,#1a8684);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg3 {
    background-color:#000;
    background-image:linear-gradient(45deg,#1a8684,#1e9880);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg4 {
    background-color:#000;
    background-image:linear-gradient(45deg,#1e9880,#3979a0);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg5 {
    background-color:#000;
    background-image:linear-gradient(45deg,#3979a0,#505fbb);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg6 {
    background-color:#000;
    background-image:linear-gradient(45deg,#505fbb,#6941d9);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg7 {
    background-color:#000;
    background-image:linear-gradient(45deg,#6941d9,#772bc3);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg8 {
    background-color:#000;
    background-image:linear-gradient(45deg,#772bc3,#8515ad);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg9 {
    background-color:#000;
    background-image:linear-gradient(45deg,#8515ad,#930098);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg10 {
    background-color:#000;
    background-image:linear-gradient(45deg,#930098,#b200b3);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }
  .hmg11 {
    background-color:#000;
    background-image:linear-gradient(45deg,#b200b3,#d200ce);
    background-size:100%;
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent
  }

  .blb {
    background-color: #000;
    padding: 75px 0;
  }

  .p5vh {
    font-size: 50px;
  }

  .regwhite {
    font-weight: 400;
    color: #fff;
  }

  .custombulletsp {
    font-weight: 400;
  }
  .custombulletsp li {
    position: relative;
    line-height: 1.3;
    margin: 20px 0;
    list-style: none;
  }
  .custombulletsp li::before {
    position: absolute;
    left: -1em;
    content: "\2022";
    color: #c500c3;
  }
.non-fault-driver {
  padding: 75px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  }

  .pheaders {
    font-weight: 800;
    line-height: 1.2;
  }

  .regdark {
    font-weight: 400;
  }
  .grdar a {
    color: #1fa183;
  }

  .grdar a:hover, a:active {
    color: #000;
  }

  .squarebcon1 {
    padding: 40px;
  }
  h3, h4, h5, h6 {
    font-size: 35px;
    line-height: 1.2;
  }

  .ct-white-pur a {
    color: #fff;
  }
  .ct-white-pur a:hover, a:active {
    color: #930098;
  }
  .better-alt .left-content {
    border:  2px solid rgb(255 255 255 / 10%);
    height:100%;
  }
  .squarebcon1.ct-white-pur {
    border-bottom: 2px solid rgb(255 255 255 / 10%);

  }
  .better-alt .image {
    border:  2px solid rgb(255 255 255 / 10%);
    border-left: none;
    height: 100%;
  }
  .better-alt .row {
    margin: 0 auto;
  }
  .better-alt .row [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }


  .footerhead {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: underline;
  }

  .footercont {
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    list-style-type: none;
  }
  
  .p3vh {
    font-size: 37px;
  }

  .custombullets {
    font-weight: 400;
  }
  .custombullets li {
    position: relative;
    line-height: 1.3;
    margin: 20px 0;
    list-style: none;
  }

  .custombullets li::before {
    position: absolute;
    left: -1em;
    content: "\2022";
    color: #1e9f82;
  }

  .grdar a {
    color: #1fa183;
  }
  .content-box {
    padding-top: 0;
  }

  .grwhi a {
    color: #1fa183;
  }

  .grwhi a:hover, a:active {
    color: #fff;
  }
  .boldwhitett {
    color: #868689;
  }
  .content-list ul {
    padding-left: 0;
  }
  .content-list ul li {
    list-style: none;
    padding-left: 100px;
    position: relative;
    margin-bottom: 15px;
  }
  .content-list ul li .icon {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100px;
    margin-right: 15px;
  }
  .block-1 {
    min-height: 500px;
  }

  .puwhi a {
    color: #c500c3;
  }
  .puwhi a:hover, a:active {
    color: #fff;
  }
  
  .block-2 {
    padding-bottom: 900px;
  }
  .regwhitett {
    font-weight: 400;
    color: #868689;
  }
  .boldwhitett {
    color: #868689;
  }

  .p7vh {
    font-size: 85px;
  }

  .pudar a {
    color: #c500c3;
  }

  .pudar a:hover, a:active {
    color: #000;
  }
  .main-site {
    position: relative;
    overflow: hidden;
  }
  .img-100 {
    width: 100%;
  }

  .gradient-gr {
    background-color: #000;
    background-image: linear-gradient(45deg,#1ca180,#33e780,#1ca180);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }  

  .gradient-re {
    background-color: #000;
    background-image: linear-gradient(45deg,#db3022,#ff6d07,#db3022);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }