body {
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.pheaders {
    font-weight: 800;
    line-height: 1.2;
}

.p7vh {
    font-size: 85px;
}

.regdarktt {
    font-weight: 400;
    color: #6e6e73;
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1350px;
    }
}

.main-site a {
    text-decoration: none;
    color: #1fa183;
}

.main-site a:hover {
    color: #000;
}

.small,
small {
    font-size: 80%;
}

.btn-graident {
    background-image: linear-gradient(45deg, #1ca180, #2e4e9a);
    padding: 7px 40px;
    border-radius: 30px;
    color: #fff !important;
    font-weight: 600;

}

.gradient-pu {
    background-color: #000;
    background-image: linear-gradient(45deg, #6941d9, #930098, #f300ea);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

.white-bg {
    background: #fff;
}

.section-padding {
    padding: 100px 0;
}

.btn-graident:hover,
.btn-graident:focus {
    background-image: linear-gradient(45deg, #1ca180, #2e4e9a);
}

.intro-block {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.squarebcon1 {
    padding: 40px 0;
}

.gre-box {
    background-color: #f2f2f2;
}

.resources-block {
    background-color: #f4f4f6;
    padding: 70px 0;
}

.resource-block-card {
    background-color: #fff;
}

.border-radius-30 {
    border-radius: 30px;
    overflow: hidden;
}

.box-shodow-dark {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);

}

.resource-block-card .content-block,
.two-col-image-text-block .content-block {
    padding: 30px;
}

.resource-block-card .content-block h6 {
    color: #1fa183;
    font-size: 20px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
}

.resource-block-card .image-block img,
.two-col-image-text-block .image-block img {
    width: 100%;
}

@media (min-width: 1400px) {
    .inner-container {
        width: 900px;
        margin: 0 auto;
    }
}

.intro-block p a {
    color: #1fa183;
    font-weight: 700;
    text-decoration: none;
}

.inner-banner {
    min-height: 650px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.banner-who-we-are {
    background-size: cover !important;
    background-position: bottom left !important;
    min-height: 900px;
}

.map-form-block {
    background-color: #f4f4f6;
}

.main-site li {
    line-height: 1.3;
    margin: 15px 0;
    color: #6e6e73;
    font-weight: 400;
}

.main-site li::marker {
    color: #1fa183;
}

.right-content-block .image-text-block {
    padding: 30px;
}

.right-content-block .text-block p:last-child {
    margin-bottom: 0;
}

.image-text-block {
    display: flex;
}

.image-text-block .icon {
    width: 90px;
    height: 80px;
    border-right: 1px solid #aeaeae;
    padding-right: 10px;
}

.image-text-block .text-block {
    width: calc(100% - 90px);
    padding-left: 15px;
    color: #6e6e73;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.two-col-image-text-block .row {
    margin: 0;
}

.two-col-image-text-block .row div[class*='col-lg'] {
    padding: 0;
}

.two-col-image-text-block .row {
    align-items: center;
    margin: 30px 0;
}

.light-text p {
    color: #6e6e73;
}

.accident_management_company_content-section .col-lg-4:not(.middle) {
    /* width: 29%; */
}

.accident_management_company_content-section .col-lg-4.middle {
    /* width: 42%; */
}

.contact-form label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
}

.contact-form textarea.form-control {
    height: 275px;
}

.content-blocks .container {
    max-width: 1130px;
}

.black-bg {
    background: #000;
}

.text-white {
    color: #fff;
}

.p-40 {
    padding: 40px;
}

.boldwhitett {
    color: #868689;
}

.inner-content-blocks {
    background-size: cover !important;
    min-height: 460px;
}

.regpad {
    padding: 20px;
}

.boldwhite {
    color: #fff;
}

.p5vh {
    font-size: 50px;
}


.regwhite {
    font-weight: 400;
    color: #fff;
}

.custombullets {
    font-weight: 400;
}

.acc-mgmt-lead ul li {
    color: #fff;

}

.custombullets li {
    position: relative;
    line-height: 1.3;
    margin: 20px 0;
}

.acc-mgmt-lead {
    min-height: 1200px;
    background-size: cover !important;
    display: flex;
    align-items: flex-end;
}

.p4vh {
    font-size: 45px;
    font-size: 41px;
}


.acc-mgmt-lead .container,
.blb .container {
    max-width: 1130px;
}

.bold {
    font-weight: 700;
}

.squarebcon1 {
    padding: 40px;
}

.sidepad {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
}

.pl-0 {
    padding-left: 0 !important;
}

.accordion,
.accordion-button,
.accordion-body {
    background: #000;
    color: #fff;
}

.accordion-item {
    border-radius: 0 !important;
}

.accordion-item,
.accordion-button:not(.collapsed) {
    color: #fff;
    background: #000;
    outline: none;
}
.accordion-header {
    margin-top: 0;
}
.accordion-button {
    font-size: 20px;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
}

.accordion-button::after {
    background: none;
    content: "\f068";
    font-size: 20px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    height: auto;
    width: auto;
}

.accordion-button:not(.collapsed)::after {
    background: none;
    content: "\2b";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    transform: none;

}

/* claims management  */
.bg-cover {
    background-size: cover !important;
}

.width-1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.incredibly_unlucky {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 0px;
}

.incredibly_unlucky .row {
    min-height: 700px;
}


.p3vh {
    font-size: 37px;
}

.step-block {
    min-height: 420px;
}

.step-block img {
    max-height: 50px;
    margin-bottom: 15px;
}

.claimcta,
.claimcta a {
    background-color: #2e4e9a;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
}

.claimcta:hover,
.claimcta:focus {
    background-color: #1fa183;
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    outline-style: none;
}

.min-height-1600 {
    min-height: 1600px;
}

.width-785 {
    max-width: 785px;
    margin-left: auto;
    margin-right: auto;
}

.squarebcon2 {
    padding-right: 40px;
    padding-left: 30px;
}

.image-right {
    margin-left: auto;
    margin-right: 0;
}

.width-375 {
    max-width: 375px;
}

.border-gray {
    border: 2px solid rgb(29, 29, 31);
}
.gutter-0 .row {
    margin: 0;
}
.gutter-0 div[class*='col-lg']{
    padding: 0;
}
.height_100 {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.border-bottom-0 {
    border-bottom: none;
}
.main-site .black-bg a:hover {
    color: #fff;
}


.border-left-0 {
    border-left: none;
}

.text-white ul li {
    color: #fff;
}

.text.squarebcon1 {
    padding: 30px;
}
.relative {
    position: relative;
}
.red-graident:before {
    content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, #dd3123, #dd3123, #dd3123, #dd3123);
        filter: blur(190px);
        opacity: 0.5;
        height: 100%;
        height: 25vh;
        /* width: 100%; */
}
.green-graident:before {
    content: '';
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #1ca180, #1ca180, #1ca180, #1ca180);
    filter: blur(190px);
    opacity: 0.5;
    height: 100%;
    height: 25vh;
    /* width: 100%; */
}
.min-height-1000 .row {
    min-height: 1000px;
}

.dgre-box {
    background-color: #111;
}
.gr-box200 {
    min-height: 200px;
    background-image: linear-gradient(to right, #0e5998, #1fa183);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    border-radius: 50px;
}
.puwhi a {
    color: #c500c3;
  }

  /* banner-vehicle-replacement */
  .banner-vehicle-replacement {
    min-height: 1000px;
  }
  .replacement-block .ct-black .grdar{
    max-width: 760px;
    margin-left:  auto;
    margin-right: auto;
  }
.legally-entitled,
.specification-accustomed {
    min-height: 1000px;
}

.bolddarktt {
    color: #6E6E73;
}
.h-750 {
    min-height: 750px;
}
